<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PDN.TestSol.UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    <style>
        #table-list tbody tr {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PDN.TestSol.UI</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - PDN.TestSol.UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            var table = $("#table-list").DataTable({
                "searching": false,
                "info": false,
                "paging": false,
                "ordering": false,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    type: "GET",
                    url: "Home/ObtenerEmpleados",
                    error: function (response) {
                        const responseObject = JSON.parse(response.responseText);
                        $('#error-message-home').text(responseObject.Error.Message);
                        $('#error-message-home').addClass('alert alert-danger');
                    }
                },
                "columns": [
                    { data: 'id' },
                    { data: 'nombre' },
                    { data: 'apellidoPaterno' },
                    { data: 'apellidoMaterno' },
                    { data: 'area' },
                    { data: 'fechaNacimiento' },
                    { data: 'sueldo' }
                ]
            });

            $('#table-list').on('click', 'tbody tr', function () {
                var row = table.row($(this)).data();
                document.location = "@Url.Action("EditarEmpleado", "Home")?id=" + row.id;
            });

            $("#nuevo-empleado").click(function () {
                document.location = '@Url.Action("AgregarEmpleado", "Home")';
            });

            $('#cancel-btn').click(function () {
                document.location = '@Url.Action("Index", "Home")';
            });

            $('#guardar-nuevo-empleado').click(function () {
                $.ajax({
                    type: "POST",
                    url: "CrearEmpleado",
                    contentType: "application/json",
                    data: JSON.stringify({
                        nombre: $('#txtNombre').val(),
                        apellidoPaterno: $('#txtApellidoPaterno').val(),
                        apellidoMaterno: $('#txtApellidoMaterno').val(),
                        area: $('#txtArea').val(),
                        fechaNacimiento: new Date($('#txtFechaNacimiento').val()),
                        sueldo: $('#txtSueldo').val()
                    }),
                    success: function () {
                        document.location = '@Url.Action("Index", "Home")';
                    },
                    error: function (response) {
                        const responseObject = JSON.parse(response.responseText);
                        $('#error-message').text(responseObject.Error.Message);
                        $('#error-message').addClass('alert alert-danger');
                    }
                });
            });

            $('#editar-empleado').click(function () {
                $.ajax({
                    type: "PUT",
                    url: "ActualizarEmpleado",
                    contentType: "application/json",
                    data: JSON.stringify({
                        id: $('#txtId').val(),
                        nombre: $('#txtNombre').val(),
                        apellidoPaterno: $('#txtApellidoPaterno').val(),
                        apellidoMaterno: $('#txtApellidoMaterno').val(),
                        area: $('#txtArea').val(),
                        fechaNacimiento: new Date($('#txtFechaNacimiento').val()),
                        sueldo: $('#txtSueldo').val()
                    }),
                    success: function () {
                        document.location = '@Url.Action("Index", "Home")';
                    },
                    error: function (response) {
                        const responseObject = JSON.parse(response.responseText);
                        $('#error-message').text(responseObject.Error.Message);
                        $('#error-message').addClass('alert alert-danger');
                    }
                });
            });

            $('#delete-btn').click(function () {
                $.ajax({
                    type: "DELETE",
                    url: "https://localhost:7034/EliminarEmpleado/" + $('#txtId').val(),
                    contentType: "application/json",
                    // data: JSON.stringify({
                    //     id: $('#txtId').val(),
                    //     title: $('#txtTitle').val(),
                    //     description: $('#txtDescription').val(),
                    //     expirationDate: new Date($('#txtExpirationDate').val()),
                    //     statusId: $('#ddlStatus').val()
                    // }),
                    success: function () {
                        document.location = '@Url.Action("Index", "Home")';
                    }
                });
            });

            $("#txtFechaNacimiento").datepicker();
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
